# ===============================
# PYTHON JUNK
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# ENV / SECRETS
# ===============================
.env
.env.*
!.env.example

# ===============================
# LOCAL ENVIRONMENTS
# ===============================
venv/
.venv/
env/
ENV/

# ===============================
# DEV VOLUMES
# ===============================
data/
redis_data/

# ===============================
# GIT
# ===============================
.git/
.gitignore

# ===============================
# EDITORS
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# OS TRASH
# ===============================
.DS_Store
Thumbs.db

# ===============================
# DOCKER COMPOSE FILES DEV
# ===============================
docker-compose.dev.yaml
docker-compose.override.yml
